.card-price_container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.card-price_title {
  display: flex;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.card-price_value {
  display: flex;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
